.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

* {
    box-sizing: border-box;

}
body {
    font-family: sans-serif;
    margin: 10px;
    font-size: 16px/18px;
}

h1{
    text-align: center;
    font-size: 175%;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 20px;
}
h2 {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    font-size: 125%;
    width: 150px;
    text-align: center;
    margin-top: -13px;
    margin-bottom: 0;
    position: absolute;
    right: -1px;
    top: 12px;
    ;
}
.chicken {
    background-color: pink;
    font-size: .8em;
}

.beef {
    background-color: red;
    color: white;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    font-size: .8em;
}

.sushi {
    background-color: yellow;
    font-size: .8em;
}
.section {
    background-color: gray;
    border: 2px solid black;
    position: relative;
    min-height: 200px;
    margin-right: 15px;
    margin-left: auto;
    margin-bottom: 15px;
    padding: 40px;
    padding-top: 35px;
    box-sizing: border-box;
    min-width: 300px;
    overflow:auto;
    height:1000px;
    

}

.row {
    width: 100%;
    margin: 0;
    padding: 10px;

}
@media (min-width: 992px) {
    .col-large-1, .col-large-2, .col-large-3, .col-large-4, .col-large-5, .col-large-6, .col-large-7, .col-large-8, .col-large-9, .col-large-10, .col-large-11, .col-large-12{
        float: left;
    }
    .col-large-1 {
        width: 8.33%;
    }
    .col-large-2 {
        width: 16.66%;
    }
    .col-large-3 {
        width: 25%;
    }
    .col-large-4 {
        width: 33%;
    }
    .col-large-5 {
        width: 41.66%;
    }
    .col-large-6 {
        width: 50%;
    }
    .col-large-7 {
        width: 58.33%;
    }
    .col-large-8 {
        width: 66.66%;
    }
    .col-large-9 {
        width: 74.99%;
    }
    .col-large-10 {
        width: 83.33%;
    }
    .col-large-11 {
        width: 91.66%;
    }
    .col-large-12 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
     .col-med-1, .col-med-2, .col-med-3, .col-med-4, .col-med-5, .col-med-6, .col-med-7, .col-med-8, .col-med-9, .col-med-10, .col-med-11, .col-med-12{
        float: left;
    }
    .col-med-1 {
        width: 8.33%;
    }
    .col-med-2 {
        width: 16.66%;
    }
    .col-med-3 {
        width: 25%;
    }
    .col-med-4 {
        width: 33%;
    }
    .col-med-5 {
        width: 41.66%;
    }
    .col-med-6 {
        width: 50%;
    }
    .col-med-7 {
        width: 58.33%;
    }
    .col-med-8 {
        width: 66.66%;
    }
    .col-med-9 {
        width: 74.99%;
    }
    .col-med-10 {
        width: 83.33%;
    }
    .col-med-11 {
        width: 91.66%;
    }
    .col-med-12 {
        width: 100%;
    }
}
